In [1]:
pip install mysql

Requirement already satisfied: mysql in c:\users\dylan\appdata\local\programs\python\python311\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\dylan\appdata\local\programs\python\python311\lib\site-packages (from mysql) (2.2.7)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dylan\appdata\local\programs\python\python311\lib\site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
#Importar pandas
import pandas as pd
import numpy as np

In [4]:
#Conectar base de datos con mysql
import mysql.connector
from mysql.connector import Error

Conexion = mysql.connector.connect(
    host='localhost',
    database='con_python',
    user='root',
    password='Monica200327*',
    port=3306
)

In [5]:
Query = "SELECT * FROM con_python.bmw_car_sales;"

In [6]:
db_bmw=pd.read_sql(Query,Conexion)

C:\Users\dylan\AppData\Local\Temp\ipykernel_16952\1121019613.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  db_bmw=pd.read_sql(Query,Conexion)

In [7]:
#Mostrar las primeras filas
db_bmw.head()  
#Información del DataFrame
db_bmw.info()
#Descripción estadística del DataFrame
db_bmw.describe()
#Ver columnas
db_bmw.columns
#Ver tipos de datos
db_bmw.dtypes
#Ver valores nulos
db_bmw.isnull().sum()
#Ver valores duplicados
db_bmw.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

np.int64(0)